<ng-container *ngIf="character; else empty">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card">
        <img [src]="character.image" class="card-img-top" [alt]="character.name">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text">
            {{ character.status }} - {{ character.species }} <br>
            Last known location: <br>
            <a [href]="character.location.url">{{ character.location.name }}</a> <br>
            First seen in: <br>
            <a [href]="character.origin.url">{{ character.origin.name }}</a>
          </p>
          <a [routerLink]="['/characters']" class="btn btn-primary">Go to list</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <p>LOADING...</p>
</ng-template>
